Archivos de Sistema Operativo

.DS_Store
Thumbs.db

Entornos Virtuales de Python

.venv/
venv/
ENV/
env/

Archivos de Node.js

node_modules/
npm-debug.log
yarn-error.log

Archivos de IDEs (Visual Studio Code)

.vscode/
.idea/

Archivos compilados (si aplica)

*.pyc
pycache/

Archivos de configuración local

.env